@import "src/variables.scss";
.pad {
  padding: $gcp-margin
}
.margin {
  margin-top: $gcp-margin;
  margin-bottom: $gcp-margin
}
.slot {
  width: 60px;
  height: 30px;
}
.record-container {
  display: inline-block;
  margin: 10px;
}

.background-error-color {
  background-color: $error-color
}
.background-primary-color {
  background-color: $primary-color
}
.picture {
  max-width: 500px;
  max-height: 400px;
}
