<app-menu-page></app-menu-page>

<div class="col-12">
  <div class="container">
    <mat-card class="full-width">
      <mat-card-title class="centered-text">Login</mat-card-title>
      <mat-card-content>
        <form>
          <div class="row pad">
            <mat-form-field>
              <mat-label>Username:</mat-label>
              <input type="text" matInput #username>
            </mat-form-field>
          </div>
          <div class="row pad">
            <mat-form-field>
              <mat-label>Password:</mat-label>
              <input type="password" matInput #password>
            </mat-form-field>
          </div>
        </form>
        <div class="row pad centered-text">
          <div class="col-12">
            <button mat-raised-button color="warn" (click)="loginForm(username.value, password.value)">Login</button>
          </div>
        </div>
        <div class="centered-text">
          <span class="message-text">Don't have an account? </span>
          <div class="spacer"></div>
          <a (click)="navigateToSignUpUser()" class="primary-color">Sign Up as user</a>
          <div class="spacer"></div>
          <a (click)="navigateToSignUpBusiness()" class="primary-color">Sign Up as business</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
