@import "src/variables.scss";

.slot {
  width: 60px;
  height: 30px;
}
.record-container {
  display: inline-block;
  margin-right: 10px;
}
.background-error-color {
  background-color: $error-color
}
.background-primary-color {
  background-color: $primary-color
}
.pad {
  padding: $gcp-margin
}
.margin {
  margin: $gcp-margin
}
