<app-menu-page></app-menu-page>
<div class="main-app main-app-layout pad">
  <h1>Create Business</h1>
  <div class="spacer"></div>
  <mat-card>
    <form [formGroup]="createBusinessForm" autocomplete="off">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-12 full-width">
              <mat-form-field>
                <mat-label>Rule Name</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="createBusinessForm.get('name').hasError('required')">
                  Name is required!
                </mat-error>
                <mat-error *ngIf="createBusinessForm.get('name').hasError('maxLength')">
                  Name max length is 100!
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 full-width">
              <mat-form-field>
                <mat-label>Location</mat-label>
                <input matInput formControlName="location">
                <mat-error *ngIf="createBusinessForm.get('location').hasError('required')">
                  Location is required!
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 full-width">
              <mat-form-field>
                <mat-label>Telephone</mat-label>
                <input matInput formControlName="telephone">
                <mat-error *ngIf="createBusinessForm.get('telephone').hasError('required')">
                  Telephone is required!
                </mat-error>
                <mat-error *ngIf="createBusinessForm.get('telephone').hasError('pattern')">
                  Incorrect phone pattern
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 full-width dropzone">
              <form enctype="multipart/form-data">
                <input type="file" id="fileDropRef" (change)="onFileSelected($event)">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 63 64">
                  <g fill="#3B454F" fill-rule="nonzero">
                    <path
                      d="M42.656 15.135a1.953 1.953 0 0 1-1.391-.578L31.5 4.795l-9.765 9.762a1.97 1.97 0 1 1-2.785-2.785L30.106.616a1.97 1.97 0 0 1 2.785 0l11.157 11.156a1.97 1.97 0 0 1-1.392 3.363z" />
                    <path
                      d="M31.5 36.791a1.97 1.97 0 0 1-1.969-1.969V2.01a1.97 1.97 0 0 1 3.938 0v32.812a1.97 1.97 0 0 1-1.969 1.969z" />
                    <path
                      d="M55.781 63.041H7.22A7.225 7.225 0 0 1 0 55.822V41.385a4.599 4.599 0 0 1 4.594-4.594h7.234a4.567 4.567 0 0 1 4.402 3.276l2.814 9.382a.658.658 0 0 0 .628.467h23.656a.658.658 0 0 0 .628-.467l2.814-9.385a4.572 4.572 0 0 1 4.402-3.273h7.234A4.599 4.599 0 0 1 63 41.385v14.437a7.225 7.225 0 0 1-7.219 7.219zM4.594 40.729a.656.656 0 0 0-.657.656v14.437a3.286 3.286 0 0 0 3.282 3.282H55.78a3.286 3.286 0 0 0 3.282-3.282V41.385a.656.656 0 0 0-.657-.656h-7.234a.65.65 0 0 0-.628.467L47.73 50.58a4.628 4.628 0 0 1-4.402 3.274H19.672a4.567 4.567 0 0 1-4.402-3.276l-2.814-9.382a.65.65 0 0 0-.628-.467H4.594z" />
                  </g>
                </svg>
                <h3>Drag or drop picture here</h3>
                <h3>or</h3>
                <label for="fileDropRef">Browse for picture</label>
              </form>
            </div>
            <div class="col-12 full-width">
              <mat-form-field>
                <mat-label>Business field</mat-label>
                <input matInput formControlName="businessField">
                <mat-error *ngIf="createBusinessForm.get('businessField').hasError('required')">
                  Business field is required!
                </mat-error>
                <mat-error *ngIf="createBusinessForm.get('name').hasError('maxLength')">
                  Business field max length is 100!
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 full-width">
              <mat-form-field>
                <mat-label>Start time</mat-label>
                <input type="time" matInput formControlName="startTime">
                <mat-error *ngIf="createBusinessForm.get('startTime').hasError('required')">
                  Start time is required!
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 full-width">
              <mat-form-field>
                <mat-label>End time</mat-label>
                <input type="time" matInput formControlName="endTime">
                <mat-error *ngIf="createBusinessForm.get('endTime').hasError('required')">
                  End time is required!
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 full-width">
              <mat-form-field>
                <mat-label>Number of slots</mat-label>
                <input matInput formControlName="numberOfSlots">
                <mat-error *ngIf="createBusinessForm.get('numberOfSlots').hasError('required')">
                  Number of slots is required!
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 full-width">
              <mat-form-field>
                <mat-label>Max users per slot</mat-label>
                <input matInput formControlName="maxUsers">
                <mat-error *ngIf="createBusinessForm.get('maxUsers').hasError('required')">
                  Max users per slot is required
                </mat-error>
                <mat-error *ngIf="createBusinessForm.get('maxUsers').hasError('min')">
                  Minimum users per slot is one
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 full-width">
              <mat-card-subtitle *ngIf="
              generateSlotsByGivenData('12:00','13:00',1, false, 1).length != 0">
                Slots
              </mat-card-subtitle>
                <p>{{generateSlotsByGivenData(
                  this.createBusinessForm.get('startTime').value,
                  this.createBusinessForm.get('endTime').value,
                  this.createBusinessForm.get('numberOfSlots').value,
                  true,
                  this.createBusinessForm.get('maxUsers').value
                )}}</p>
            </div>
          </div>

        </div>
        <div class="row no-gutters">
          <div class="col-12">
            <div class="pull-right spacer vertical-align">
              <button mat-raised-button (click)="goToListBusiness()">
                Cancel
              </button>
              <button mat-raised-button color="warn" (click)="saveBusiness()">Save</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-card>
</div>
