/* You can add global styles to this file, and also import other style files */
@use "sass:math";
@import "variables";
@import "src/mixins";
@font-face {
  font-family: GothamPro;
  src: url(~src/assets/fonts/GothamPro.otf) format("opentype");
}

@font-face {
  font-family: GothamPro-Black;
  src: url(~src/assets/fonts/GothamPro-Black.otf) format("opentype");
}

@font-face {
  font-family: GothamPro-Bold;
  src: url(~src/assets/fonts/GothamPro-Bold.otf) format("opentype");
}

@font-face {
  font-family: GothamPro-Light;
  src: url(~src/assets/fonts/GothamPro-Light.otf) format("opentype");
}

html, body {
  height: 100%;
}

%common-header-styles{
  font-size: 2.5rem;
  line-height: 2.5rem;

  text-transform: uppercase;
  letter-spacing: -3px;
  color: $header-title-dark;

  .theme-alternate &{
    color: $header-title-light;
  }


}
.main-app .main-app-layout, .main-app.main-app-layout{
  h1{
    display: inline-block;
    font-family: $default-font-family-bold;
    @extend %common-header-styles;

    &::before{
      content: "";
      position: relative;
      display: block;
      min-width: 300px;
      width: 100%;
      height: 5px;
      background-color: $primary-color;
      margin-bottom: 0;
    }

    &+h2{
      font-family: $default-font-family-light;
      margin-top: -16px;
      @extend %common-header-styles;
    }
  }
}

td {
  line-break: anywhere;
}

a {
  color: $primary-color;
  cursor: pointer;
  text-decoration: none;

  &.exteral-link {
    color: $accent-color;
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

input[type=number] {
  text-align: right;
}

.action-row {
  display: flex;
  flex-direction: row-reverse;
}

.left-action-row {
  display: flex;
  flex-direction: row;
}

@import "~bootstrap-4-grid/scss/grid";

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pull-right {
  margin-left: auto;
  float: right;
}
.pull-left {
  margin-right: 0;
  float: left;
}

.spacer {
  margin-top: $gcp-margin;
}


.gcpco-action-button {
  position: absolute;
  top: - math.div($gcp-margin,2);
  right: math.div($gcp-margin,2);
}
.centered-text {
  text-align: center;
}
.error-color {
  color: $error-color !important;
}

.primary-color {
  color: $primary-color !important;
}
.margin-0 {
  margin: 0 !important;
}
table {
  table-layout: fixed;
  width: 100%;

  .extra-large-column {
    width: 250px !important;
  }

  .large-column {
    width: 175px !important;
  }

  .medium-column {
    width: 100px !important;
  }

  .small-column {
    width: 50px !important;
  }

  tr {
    .table-action-buttons {
      visibility: hidden;
    }

    &:hover .table-action-buttons {
      visibility: visible;
    }
  }

  td.mat-cell, th.mat-header-cell {
    padding-right: $gcp-margin;
  }

  .detail-row {
    height: 0 !important;
  }

  .expanded-element-detail {
    overflow: hidden;
    display: flex;
  }
}
.full-width {
  width: 100%;

  mat-form-field {
    width: 100%;
  }
}
.retain-height {
  height: 100%;

  &.bottom-spaced-card {
    height: calc(100% - 20px);
  }
}

.bottom-spaced-card {
  margin-bottom: $gcp-margin;
}

mat-card {
  margin-bottom: 1px;
}

.mat-dialog-container {
  min-width: 700px;
}
.bold-text {
  font-weight: 500 !important;
}

.card-bottom-actions {
  &.mat-card {
    display: flex;
    flex-direction: column;
  }

  .mat-card-header {
    flex-shrink: 0;
  }

  .mat-card-content {
    flex-grow: 1;
    overflow: auto;
  }
}



// always include only once per project
@include mat-core();

// Theme Init
.theme-primary {
  @include angular-material-theme($theme);
}

.theme-alternate {
  @include angular-material-color($altTheme);
}


.error-label-selected {
  margin: 0px !important;
}


.control-info {
  vertical-align: bottom;
  padding-bottom: 15px;
}
.checkbox-tooltip{
  vertical-align: bottom;
  padding-bottom: 20px;
}

.mat-button-toggle-checked .mat-button-toggle-focus-overlay {
  display: none;
}

.selectable {
  cursor: pointer;

  &.selected-card {
    background-color: $selected-bg;
  }
}
.clickable-text{
  cursor: pointer;
  color: $primary-color;
}

.fixed-height-one-line{
  min-height: 2.5rem;
}

.bottom-spaced-mat-title {
  margin-bottom: $gcp-margin !important;
}

.dropdown-height {
  height: 58px;
}

.long-child{
  min-width: 2500px;
}

.table-with-expandable-rows {
  table {
    table-layout: fixed;
    width: 100%;
  }

  .container-fluid {
    padding: 0;
  }

  tr.example-detail-row {
    height: 0;
  }

  .example-element-row td {
    border-bottom-width: 0;
  }

  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
}

button {
  width: 100px;
  height: 40px
}
