<mat-toolbar color="primary" class="toolbar-height">
  <ng-container *ngIf="showMenuIcons()">
  <button [matTooltip]="'My profile'" mat-icon-button aria-label="My profile" class="pull-left" (click)="navigateToMyProfile()">
    <mat-icon>person</mat-icon>
  </button>
  <button [matTooltip]="'Log out'" mat-icon-button aria-label="Log out" class="pull-left" (click)="navigateToLoginAndClearLocalStorage()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
  </ng-container>
  <img class="pull-right" alt="Costimize logo" src="{{ '/assets/images/Businesser.png' }}" width="10%" />
</mat-toolbar>
